.jumbotron{
    text-align: center;
    color: white;
    background-color: black;
}

.container{
    margin: 20px;
}
.card{
    margin: 20px;
}

.form-group{
    margin: 10px;
}

.btn-primary{
    margin: 10px;
}